<ion-header [translucent]="true">
    <app-header [title]="'About'"></app-header>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>About</ion-card-subtitle>
      <ion-card-title>Beer Bet</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      A simple app to let you make friendly wagers with friends for beer or other valuables. Just sign up, and start making bets!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="beer" slot="start"></ion-icon>
      <ion-label>Set Results and Have Fun</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      Start by making you first challenge then invite your friends
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Card Link Item 1 activated</ion-label>
    </ion-item>

    <ion-item href="#">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Card Link Item 2</ion-label>
    </ion-item>

    <ion-item class="ion-activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Card Button Item 1 activated</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Card Button Item 2</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
